* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

html {
  font-size: 16px;
}

::-webkit-scrollbar {
  background: transparent;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #1697f4;
}

body {
  background: #2c393e;
}

.form-page {
  height: 100vh;
  width: 100vw;
  background: #161f23;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.form-page.hasForm {
  width: 100%;
  height: calc(100vh - 71px);
  background: #2c393e;
}
.form-page.hasForm .form {
  width: 550px;
}
.form-page h1, .form-page main .router .router-page .innerPage .data-table p.center, main .router .router-page .innerPage .data-table .form-page p.center, .form-page main .router .router-page .innerPage p.sametitle, main .router .router-page .innerPage .form-page p.sametitle {
  font-size: 1rem;
  color: white;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}
.form-page h1 span, .form-page main .router .router-page .innerPage .data-table p.center span, main .router .router-page .innerPage .data-table .form-page p.center span, .form-page main .router .router-page .innerPage p.sametitle span, main .router .router-page .innerPage .form-page p.sametitle span {
  color: hotpink;
}
.form-page .form {
  width: 450px;
  padding: 30px 50px 40px;
  background: #18222a;
  border-radius: 20px;
  border: 1px solid rgba(240, 240, 240, 0.2666666667);
}
.form-page .form .logo {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px auto;
}
.form-page .form .logo img {
  width: 80px;
  height: 80px;
  display: flex;
  margin: 0 auto;
}
.form-page .form .logo p {
  text-align: center;
  margin: 6px 0 10px;
  color: transparent;
  background: linear-gradient(to right, hotpink, #f44336);
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.form-page .form form .parts {
  display: grid;
  grid-template-columns: repeat(2, 48%);
  justify-content: space-between;
  margin-bottom: 10px;
}
.form-page .form form .parts .crd {
  margin-top: 0 !important;
}
.form-page .form form .crd:not(:first-of-type) {
  margin-top: 10px;
}
.form-page .form form .crd .crd-input {
  position: relative;
  border: 1px solid rgba(240, 240, 240, 0.2666666667);
  border-radius: 5px;
  overflow: hidden;
}
.form-page .form form .crd .crd-input p {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 0 9px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  height: 100%;
  font-size: 0.8rem;
  background: #18222a;
}
.form-page .form form .crd .crd-input p span {
  opacity: 0;
  transition: 0.5s;
  color: #1697f4;
}
.form-page .form form .crd .crd-input p.active span {
  pointer-events: all;
  opacity: 1;
}
.form-page .form form .crd .crd-input .icon {
  width: 19px;
  height: 19px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 7px;
}
.form-page .form form .crd .crd-input .icon svg {
  width: 100%;
  height: 100%;
  fill: rgb(219, 208, 208);
}
.form-page .form form .crd label {
  color: white;
  font-size: 0.85rem;
  margin-bottom: 5px;
}
.form-page .form form .crd input, .form-page .form form .crd select {
  padding: 8px 15px 8px 35px;
  width: 100%;
  outline: none;
  border: none;
  background: none;
  color: rgb(219, 208, 208);
}
.form-page .form form .crd-image {
  display: flex;
  justify-content: center;
}
.form-page .form form .crd-image input[type=file] {
  display: none;
}
.form-page .form form .crd-image label {
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(240, 240, 240, 0.1843137255);
  border-radius: 50%;
  overflow: hidden;
}
.form-page .form form .crd-image label.first-prev svg {
  opacity: 1;
  pointer-events: all;
  display: flex;
}
.form-page .form form .crd-image label.first-prev img {
  opacity: 0 !important;
  pointer-events: none !important;
  display: none;
}
.form-page .form form .crd-image label img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 1;
  pointer-events: all;
  transition: 0.5s;
}
.form-page .form form .crd-image label svg {
  width: 40px;
  height: 40px;
  fill: rgb(192, 63, 49);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  display: none;
}
.form-page .form form span.redirect {
  display: flex;
  margin-top: 10px;
  font-size: 0.8rem;
  color: white;
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  justify-content: space-between;
}
.form-page .form form span.redirect a, .form-page .form form span.redirect span.action {
  position: relative;
}
.form-page .form form span.redirect a:hover::before, .form-page .form form span.redirect span.action:hover::before {
  width: 25px;
}
.form-page .form form span.redirect a::before, .form-page .form form span.redirect span.action::before {
  position: absolute;
  bottom: -5px;
  width: 0;
  height: 3px;
  border-radius: 3px;
  transition: 0.5s;
  left: 0;
  content: "";
}
.form-page .form form span.redirect a {
  color: hotpink;
  text-decoration: none;
}
.form-page .form form span.redirect a:before {
  background: hotpink;
}
.form-page .form form span.redirect span.action {
  color: #1697f4;
  cursor: pointer;
}
.form-page .form form span.redirect span.action:before {
  left: unset;
  right: 0;
  background: #1697f4;
}
.form-page .form form .form-buttons {
  display: grid;
  grid-template-columns: 70% 28%;
  justify-content: space-between;
}
.form-page .form form .form-buttons button {
  margin-top: 0 !important;
}
.form-page .form form .form-buttons a {
  display: flex;
  background: linear-gradient(to right, hotpink, #f44336);
  justify-content: center;
  font-size: 0.83rem;
  border-radius: 5px;
  align-items: center;
  background: #d0342c;
  color: white;
  text-decoration: none;
}
.form-page .form form button {
  padding: 8px 15px;
  display: flex;
  width: 100%;
  margin-top: 15px;
  justify-content: center;
  border-radius: 5px;
  border: none;
  background: linear-gradient(to right, hotpink, #f44336);
  position: relative;
  cursor: pointer;
  font-weight: 500;
  z-index: 1;
  bottom: 0;
  transition: 0.5s;
}
.form-page .form form button:hover {
  bottom: 3px;
}

main {
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 25% 75%;
  transition: 0.4s;
}
main .router {
  height: 100vh;
  overflow-y: auto;
  position: relative;
  width: 100%;
}
main .router::before {
  position: fixed;
  content: "";
  width: 75%;
  height: 30px;
  background: linear-gradient(to top, #161f23, transparent);
  bottom: 0;
  left: 25%;
  transition: 0.5s;
}
main .router .router-page .innerPage {
  padding: 20px;
  position: relative;
}
main .router .router-page .innerPage.hasIn {
  padding: 0 !important;
}
main .router .router-page .innerPage h1, main .router .router-page .innerPage .data-table p.center, main .router .router-page .innerPage p.sametitle {
  font-size: 1.05rem;
  font-weight: 400;
  margin-bottom: 20px;
  color: rgb(216, 206, 206);
  display: flex;
  align-items: center;
}
main .router .router-page .innerPage h1:not(:first-of-type), main .router .router-page .innerPage .data-table p.center:not(:first-of-type), main .router .router-page .innerPage p.sametitle:not(:first-of-type) {
  margin-top: 20px;
}
main .router .router-page .innerPage h1 button.go-back, main .router .router-page .innerPage .data-table p.center button.go-back, main .router .router-page .innerPage p.sametitle button.go-back {
  border: none;
  cursor: pointer;
  padding: 6px 15px;
  width: -moz-fit-content;
  width: fit-content;
  flex-shrink: 0;
  white-space: nowrap;
  font-size: 0.89rem;
  text-decoration: none;
  color: #18222a;
  border-radius: 50px;
  display: inline-flex;
  margin-right: 10px;
  background: linear-gradient(to right, hotpink, #f44336);
  font-weight: 500;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
main .router .router-page .innerPage h1 button.go-back svg, main .router .router-page .innerPage .data-table p.center button.go-back svg, main .router .router-page .innerPage p.sametitle button.go-back svg {
  width: 20px;
  height: 20px;
  fill: #18222a;
}
main .router .router-page .innerPage p.sametitle {
  font-size: 0.95rem;
}
main .router .router-page .innerPage .data-cards {
  display: grid;
  grid-template-columns: repeat(3, 32.2580645161%);
  justify-content: space-between;
}
main .router .router-page .innerPage .data-cards .data-card {
  padding: 20px;
  border-radius: 10px;
  background: #18222a;
  position: relative;
  text-decoration: none;
}
main .router .router-page .innerPage .data-cards .data-card h1, main .router .router-page .innerPage .data-cards .data-card .data-table p.center, main .router .router-page .innerPage .data-table .data-cards .data-card p.center, main .router .router-page .innerPage .data-cards .data-card p.sametitle {
  font-size: 1.05rem;
  font-weight: 500;
  color: rgb(175, 164, 164);
  margin-bottom: 8px;
}
main .router .router-page .innerPage .data-cards .data-card p {
  font-size: 1.4rem;
  font-weight: 600;
  color: #1697f4;
}
main .router .router-page .innerPage .data-cards .data-card p.small-p {
  font-size: 1rem;
}
main .router .router-page .innerPage .data-cards .data-card .icon {
  width: 60px;
  height: 60px;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  right: 20px;
}
main .router .router-page .innerPage .data-cards .data-card .icon.push {
  right: 10px;
}
main .router .router-page .innerPage .data-cards .data-card .icon svg {
  width: 100%;
  height: 100%;
  fill: #2c393e;
}
main .router .router-page .innerPage .data-cards .add-option {
  display: flex;
  align-items: center;
}
main .router .router-page .innerPage .data-cards .add-option button {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  background: #18222a;
  cursor: pointer;
  transform: scale(1);
  transition: 0.5s;
  box-shadow: 0;
}
main .router .router-page .innerPage .data-cards .add-option button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
main .router .router-page .innerPage .data-cards .add-option button svg {
  fill: rgb(216, 206, 206);
  width: 50%;
  height: 50%;
  flex-shrink: 0;
  margin: 0;
}
main .router .router-page .innerPage .data-table {
  margin-top: 20px;
}
main .router .router-page .innerPage .data-table .titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .router .router-page .innerPage .data-table .titles h1, main .router .router-page .innerPage .data-table .titles p.center, main .router .router-page .innerPage .data-table .titles p.sametitle {
  margin-bottom: unset !important;
  margin-top: unset;
}
main .router .router-page .innerPage .data-table .titles .title-actions {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  align-items: center;
}
main .router .router-page .innerPage .data-table .titles .title-actions a, main .router .router-page .innerPage .data-table .titles .title-actions button {
  border-radius: 5px;
  padding: 6px 15px;
  background: linear-gradient(to right, hotpink, #f44336);
  font-size: 0.9rem;
  text-decoration: none;
  font-weight: 500;
  color: #2c393e;
  border: none;
  cursor: pointer;
}
main .router .router-page .innerPage .data-table .titles .title-actions button {
  font-size: 0.8rem;
}
main .router .router-page .innerPage .data-table p.center {
  text-align: center;
  justify-content: center;
}
main .router .router-page .innerPage .data-table table {
  width: 100%;
  padding: 10px;
  background: #18222a;
  border-radius: 10px;
  margin-top: 20px;
}
main .router .router-page .innerPage .data-table table thead tr th {
  padding: 5px 0;
  font-weight: 500;
  font-size: 0.85rem;
  text-align: center;
  color: rgb(219, 208, 208);
  border-bottom: 1px solid rgb(219, 208, 208);
}
main .router .router-page .innerPage .data-table table tbody tr:nth-of-type(odd) {
  background: #2c393e;
}
main .router .router-page .innerPage .data-table table tbody tr td {
  padding: 10px 2px;
  font-size: 0.89rem;
  color: rgb(219, 208, 208);
  text-align: center;
}
main .router .router-page .innerPage .data-table table tbody tr td img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}
main .router .router-page .innerPage .data-table table tbody tr td a, main .router .router-page .innerPage .data-table table tbody tr td button {
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  background: hotpink;
  text-decoration: none;
  color: #1697f4;
  font-weight: 500;
  font-size: 0.78rem;
  font-weight: 500;
  cursor: pointer;
  background: rgb(219, 208, 208);
  color: #18222a;
}
main .router .router-page .innerPage .data-table table tbody tr td a.del, main .router .router-page .innerPage .data-table table tbody tr td button.del {
  background: rgb(192, 63, 49);
  color: white;
  position: relative;
}
main .router .router-page .innerPage .data-table table tbody tr td a.del:hover .delete-prompt, main .router .router-page .innerPage .data-table table tbody tr td button.del:hover .delete-prompt {
  opacity: 1;
  pointer-events: all;
  cursor: default;
  transform: scale(1);
}
main .router .router-page .innerPage .data-table table tbody tr td a.del .delete-prompt, main .router .router-page .innerPage .data-table table tbody tr td button.del .delete-prompt {
  position: absolute;
  width: 250px;
  bottom: 100%;
  right: 0;
  opacity: 0;
  pointer-events: none;
  padding-bottom: 5px;
  transform: scale(0.6);
  transform-origin: bottom right;
  transition: 0.5s;
}
main .router .router-page .innerPage .data-table table tbody tr td a.del .delete-prompt .delete-prompt-text, main .router .router-page .innerPage .data-table table tbody tr td button.del .delete-prompt .delete-prompt-text {
  background: #d0342c;
  padding: 15px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 7px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.199);
}
main .router .router-page .innerPage .data-table table tbody tr td a.del .delete-prompt .delete-prompt-text span, main .router .router-page .innerPage .data-table table tbody tr td button.del .delete-prompt .delete-prompt-text span {
  font-size: 0.85rem;
}
main .router .router-page .innerPage .data-table table tbody tr td a.del .delete-prompt button, main .router .router-page .innerPage .data-table table tbody tr td button.del .delete-prompt button {
  width: -moz-fit-content;
  width: fit-content;
  background: #18222a;
  color: rgb(216, 206, 206);
}
main .router .router-page .innerPage .data-links {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 10px;
}
main .router .router-page .innerPage .data-links button, main .router .router-page .innerPage .data-links span {
  padding: 7px 13px;
  font-size: 0.8rem;
  cursor: pointer;
  background: #18222a;
  color: rgb(216, 206, 206);
  border: none;
  border-radius: 5px;
}
main .router .router-page .innerPage .data-links button {
  background: linear-gradient(to right, hotpink, #f44336);
  color: #18222a;
  font-weight: 600;
}
main .router .popUp {
  position: fixed;
  width: 75%;
  height: calc(100% - 64px);
  background: rgba(0, 0, 0, 0.486);
  top: 64px;
  left: 25%;
  z-index: 200;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}
main .router .popUp.active {
  opacity: 1;
  pointer-events: all;
}
main .router .popUp .popCloser {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}
main .router .popUp .popCloser span {
  display: flex;
  height: 3px;
  width: 28px;
  background: #1697f4;
  transform: rotate(0);
  top: 0;
  left: 0;
  position: relative;
  transition: 0.5s;
}
main .router .popUp .popCloser span:last-of-type {
  transform: rotate(45deg);
  top: -5px;
}
main .router .popUp .popCloser span:first-of-type {
  transform: rotate(-45deg);
  top: -1px;
  background: hotpink;
}
main .router .popUp .popUp-card {
  width: 70%;
  background: #18222a;
  padding: 20px;
  box-shadow: 0 0 10px -5px #2c393e;
  border-radius: 20px;
  border: 1px solid #2c393e;
}
main .router .popUp .popUp-card.allow-read-write form.popForm .pop-part-form .crd .crd-input {
  border: 1px solid rgba(240, 240, 240, 0.2666666667);
  border-radius: 5px;
}
main .router .popUp .popUp-card.allow-read-write form.popForm .pop-part-form .crd .crd-input .icon {
  opacity: 1;
}
main .router .popUp .popUp-card.allow-read-write form.popForm .pop-part-form .crd input {
  padding: 8px 15px 8px 35px;
}
main .router .popUp .popUp-card button {
  padding: 8px 15px;
  display: flex;
  width: 100%;
  margin: 15px auto 0;
  justify-content: center;
  border-radius: 5px;
  border: none;
  background: linear-gradient(to right, hotpink, #f44336);
  position: relative;
  cursor: pointer;
  font-weight: 500;
  z-index: 1;
  bottom: 0;
  transition: 0.5s;
  width: -moz-fit-content;
  width: fit-content;
}
main .router .popUp .popUp-card button:hover {
  bottom: 3px;
}
main .router .popUp .popUp-card h1.popTitle, main .router .popUp .popUp-card .router-page .innerPage p.popTitle.sametitle, main .router .router-page .innerPage .popUp .popUp-card p.popTitle.sametitle, main .router .popUp .popUp-card .router-page .innerPage .data-table p.popTitle.center, main .router .router-page .innerPage .data-table .popUp .popUp-card p.popTitle.center {
  text-align: center;
  justify-content: center;
}
main .router .popUp .popUp-card label {
  color: rgb(216, 206, 206);
  font-size: 0.9rem;
}
main .router .popUp .popUp-card form.popForm .pop-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}
main .router .popUp .popUp-card form.popForm .pop-image .pop-image-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid rgb(216, 206, 206);
  margin-bottom: 5px;
}
main .router .popUp .popUp-card form.popForm .pop-image .pop-image-img img {
  width: 100%;
  height: 100%;
}
main .router .popUp .popUp-card form.popForm .pop-part-form {
  display: grid;
  grid-template-columns: repeat(2, 49%);
  justify-content: space-between;
  row-gap: 10px;
}
main .router .popUp .popUp-card form.popForm .pop-part-form .crd {
  transition: 0.5s;
  border: 1px solid transparent;
}
main .router .popUp .popUp-card form.popForm .pop-part-form .crd .crd-input {
  position: relative;
  border: none;
  overflow: hidden;
}
main .router .popUp .popUp-card form.popForm .pop-part-form .crd .crd-input .icon {
  width: 19px;
  height: 19px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 7px;
  opacity: 0;
  transition: 0.5s;
  pointer-events: none;
}
main .router .popUp .popUp-card form.popForm .pop-part-form .crd .crd-input .icon svg {
  width: 100%;
  height: 100%;
  fill: rgb(219, 208, 208);
}
main .router .popUp .popUp-card form.popForm .pop-part-form .crd label {
  color: rgb(156, 156, 156);
  font-size: 0.85rem;
  margin-bottom: 5px;
}
main .router .popUp .popUp-card form.popForm .pop-part-form .crd input {
  padding: 8px 15px 8px 0px;
  width: 100%;
  outline: none;
  border: none;
  background: none;
  color: white;
}
main aside {
  padding: 15px 0;
  background: #18222a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  border-right: 1px solid rgba(240, 240, 240, 0.1843137255);
  transition: 0.5s;
  width: 100%;
}
main aside a, main aside .logOut {
  cursor: pointer;
  padding: 13px 14px;
  display: flex;
  align-items: center;
  color: rgb(204, 195, 195);
  text-decoration: none;
  font-size: 0.9rem;
  -moz-column-gap: 10px;
       column-gap: 10px;
  border-right: 4px solid transparent;
  transition: 0.5s;
}
main aside a span, main aside .logOut span {
  transition: inherit;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
main aside a:not(.router-link-active):hover, main aside .logOut:not(.router-link-active):hover {
  background: #161f23;
}
main aside a svg, main aside .logOut svg {
  width: 26px;
  height: 26px;
  fill: rgb(190, 181, 181);
  display: flex;
  flex-shrink: 0;
  position: relative;
  left: 0;
  transition: 0.5s;
}
main aside a.router-link-active, main aside .logOut.router-link-active {
  color: white;
  background: #2c393e;
  border-right: 4px solid #f44336;
}
main aside a.router-link-active svg, main aside .logOut.router-link-active svg {
  fill: white;
}
main aside nav {
  display: flex;
  flex-direction: column;
}
main aside .logo {
  display: flex;
  margin: 30px auto 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
main aside .logo img {
  width: 140px;
  height: 140px;
  -webkit-user-drag: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: 0.5s;
}
main aside .logo span {
  text-align: center;
  margin: 6px 0 10px;
  color: transparent;
  background: linear-gradient(to right, hotpink, #f44336);
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: 2s !important;
  white-space: nowrap;
}

.topNav {
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  background: #161f23;
  align-items: center;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #2c393e;
  z-index: 10;
}
.topNav .nav-l {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.topNav .nav-l .sidenav {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  cursor: pointer;
}
.topNav .nav-l .sidenav span {
  display: flex;
  height: 3px;
  width: 28px;
  background: #1697f4;
  transform: rotate(0);
  top: 0;
  left: 0;
  position: relative;
  transition: 0.5s;
}
.topNav .nav-l .sidenav span:last-of-type {
  transform: rotate(45deg);
  top: -5px;
}
.topNav .nav-l .sidenav span:first-of-type {
  transform: rotate(-45deg);
  top: 9px;
  background: hotpink;
}
.topNav .nav-l .sidenav span:nth-of-type(2) {
  opacity: 0;
}
.topNav h1, .topNav main .router .router-page .innerPage p.sametitle, main .router .router-page .innerPage .topNav p.sametitle, .topNav main .router .router-page .innerPage .data-table p.center, main .router .router-page .innerPage .data-table .topNav p.center {
  color: transparent;
  background: linear-gradient(to right, hotpink, #f44336);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: capitalize;
}
.topNav .account {
  position: relative;
  color: white;
  font-size: 0.95rem;
  position: relative;
  padding: 20px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.topNav .account img {
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.topNav .account:hover .account-options {
  opacity: 1;
  pointer-events: all;
}
.topNav .account .account-options {
  position: absolute;
  width: 270px;
  right: 10px;
  top: 115%;
  display: flex;
  flex-direction: column;
  padding: 9px;
  row-gap: 5px;
  border-radius: 10px;
  background: #18222a;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}
.topNav .account .account-options a {
  background: #2c393e;
  padding: 9px 10px;
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  border-radius: 8px;
  color: white;
  font-size: 0.9rem;
  text-decoration: none;
}
.topNav .account .account-options a svg {
  fill: white;
  width: 22px;
  height: 22px;
}/*# sourceMappingURL=style.css.map */